<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pb-5">
        <h1 class="mt-5 pt-5 pb-3 font-weight-bold">
          Get paired. <span>Move in</span>.<br>
          Let's find a Rental <br>
          that's perfect for <br>
          you.
        </h1>
        <p class="text-muted mr-5 mt-4">
          We make your rental hunt easier than ever - 
          Recieve a premium service at No charge.
        </p>
        <a class="btn px-4 py-3 mt-4 mb-3 shadow bg-purple text-white font-weight-bold" href="/rentals">Start Searching Now</a>
      </div>
      <div class="col-lg-6 intro-bg rounded shadow"></div>
    </div>
  </div>
</header>

<main>
</main>