<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 pb-5">
        <h1 class="mt-5 pt-5 pb-3 font-weight-bold">
          Get paired. <span class="text-purple">Move in</span>.<br>
          Let's find a Rental <br>
          that's perfect for <br>
          you.
        </h1>
        <p class="text-muted mr-5 mt-4">
          We make your rental hunt easier than ever - 
          Recieve a premium service at No charge.
        </p>
        <a class="btn px-4 py-3 mt-4 mb-3 shadow bg-purple text-white font-weight-bold" href="/rentals">Start Searching Now</a>
      </div>
      <div class="col-lg-7 intro-bg rounded shadow"></div>
    </div>
  </div>
</header>

<main>
  <div class="pb-5">
    <h2 class="text-center my-5 pt-5 pb-4 font-weight-bold">
      How RentalsPoint can help you
    </h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="text-center w-75 mx-auto">
          <i class="fas fa-house-user fa-lg text-purple bg-light rounded-circle" style="padding: 1em 0.86em"></i>
          <h5 class="font-weight-bold mt-4">Buy Home</h5>
          <p class="text-muted">with over 1 million+ homes for sale posted daily on our website.<br>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center w-75 mx-auto shadow py-4 px-4 rounded">
          <i class="fas fa-home fa-lg text-purple bg-light rounded-circle mt-4" style="padding: 1em 0.86em"></i>
          <h5 class="font-weight-bold mt-4">Find a Rental</h5>
          <p class="text-muted">We can help you  easily find a home or apartment for rent that you'll love.</p>
          <div class="mt-4">
            <a href="/rentals">
              <i class="fas fa-arrow-right text-red bg-red-light rounded-circle mb-3" style="padding: .8em"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center w-75 mx-auto pt-5">
          <i class="fas fa-truck-moving fa-lg text-purple bg-light rounded-circle mt-5" style="padding: 1em 0.75em"></i>
          <h5 class="font-weight-bold mt-4">Move your Property</h5>
          <p class="text-muted">
            Easily transfer property from one place to another with a lot of care at subsdised fees.
          </p><div class="mt-4">
          <a href="/rentals">
            <i class="fas fa-arrow-right text-red"></i>
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>