@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Outfit&display=swap');

* {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
}

h1, h3, h4 {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 600;
  font-size: 76px;
  line-height: 80px;
}

h3 {
  font-size: 40px;
  line-height: 60px;
}

h4 {
  font-size: 25px;
  line-height: 37px;
}

.nav-link {
  font-size: 20px;
}

.header-bg {
  background: linear-gradient(180deg, #EBF2F0 0%, rgba(255, 255, 255, 0) 168.53%), url(../public/hero.jpg);
  border-radius: 75px;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.custom-light-green {
  background: #EBF2F0;
}

.custom-dark-green {
  background: #53A0B1;
}

.custom-button {
  height: 55px;
  border-radius: 30px;
  line-height: 55px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
}

.icon-container {
  width: 85px;
  height: 79px;
  line-height: 79px;
  display: inline-block;
  box-shadow: 2px 9px 27px -2px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.light-bordered {
  border: 4px solid #EBF2F0;
  border-radius: 35px;
}

.phone {
  font-size: 18px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-content {
  display: flex;
  gap: 15px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links a,
.rights {
  font-size: 18px;
  line-height: 25px;
  color: #8F8C8C;
  text-decoration: none;
}

.rights a,
#greened {
  color: #53A0B1;
  font-size: 18px;
}

.custom-text-muted,
.times {
  color: #8F8C8C;
}

.times {
  font-size: 16px;
  margin-left: 5px;
}

.location {
  display: flex;
  gap: 7px;
  color: #8F8C8C;
}

.location span {
  font-size: 18px;
}

.choice-desc {
  font-size: 20px;
  line-height: 30px;
}

.categories-button {
  height: 55px;
  border: 2px solid #53A0B1;
  border-radius: 30px;
  color: #53A0B1;
  display: inline-block;
  text-decoration: none;
  line-height: 55px;
  font-size: 20px;
}

.apartments-img {
  height: 400px;
  width: 100%;
  border-radius: 30px;
}

.house-image {
  background: #53A0B1;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 2px 9px 27px -2px rgba(0, 0, 0, 0.04);
  color: #FFFFFF;
  text-align: center;
}

.house-one {
  height: 200px;
  box-shadow: 2px 9px 27px -2px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin-bottom: 15px;
  width: 100%;
}

.price {
  display: flex;
  flex-direction: column;
}

.price h4 {
  margin-bottom: 0;
}

@media screen and (max-width: 1400px) {
  .contact-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .price h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {
  .house-entry,
  .contact,
  .categories-button,
  .why {
    margin-bottom: 30px;
  }

  .apartments-img,
  .houses-img,
  .commercial-img {
    height: 350px;
  }

  .footer-content {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 55px;
  }
}