@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Outfit&display=swap');

* {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
}

h1, h3, h4 {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 80px;
}

h3 {
  font-size: 40px;
  line-height: 56px;
}

h4 {
  font-size: 24px;
  line-height: 36px;
}

nav {
  border-bottom: 1px solid #efefef;
}

.nav-link {
  font-size: 16px;
}

#list-alert {
  margin-bottom: 0;
}

.hero-bg-img {
  background: url(./assets/hero.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center center;
}

.header-bg {
  background: linear-gradient(180deg, #EBF2F0 0%, rgba(255, 255, 255, 0) 168.53%), url(./assets/hero.jpg);
  border-radius: 0 0 75px 75px;
  background-size: cover;
  background-position: center;
  padding: 80px 0 100px 0;
  margin-bottom: 50px;
}

.custom-light-green {
  background: #EBF2F0;
}

.green-txt {
  color: #53A0B1;
}

.desc-ft-size {
  font-size: 18px;
  line-height: 32px;
}

.login-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.login-links a {
  display: block;
  width: 100%;
  background: #EBF2F0;
  height: 50px;
  text-decoration: none;
  color: #8F8C8C;
  line-height: 50px;
  font-size: 16px;
  border-radius: 35px;
}

.custom-dark-green {
  background: #53A0B1;
}

.inline-contact {
  gap: 20px;
}

.dark-green-border {
  border: 2px solid #53A0B1;
}

.amnenity {
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#top-link {
  background: #EBF2F0;
  color: #53A0B1;
  text-decoration: none;
  padding: 4px 15px;
  border-radius: 15px;
  margin-left: 5px;
}

.custom-button {
  height: 50px;
  border-radius: 30px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

#logo img {
  height: 50px;
}

#loginLogo img {
  height: 60px;
}

.icon-container {
  width: 85px;
  height: 79px;
  line-height: 79px;
  display: inline-block;
  box-shadow: 2px 9px 27px -2px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.light-bordered {
  border: 4px solid #EBF2F0;
  border-radius: 35px;
}

.phone {
  font-size: 18px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-content {
  display: flex;
  gap: 15px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links a,
.rights,
.rights a {
  font-size: 16px;
  line-height: 24px;
  color: #8F8C8C;
  text-decoration: none;
}

.rights a,
#greened {
  color: #53A0B1;
}

.custom-text-muted,
.times {
  color: #8F8C8C;
}

#login-submit {
  line-height: normal;
}

form, input {
  font-size: 16px;
}

input[type=text],
input[type=number] {
  border-radius: 13px;
}

.times {
  font-size: 16px;
  margin-bottom: 10px;
}

.location {
  display: flex;
  gap: 7px;
  color: #8F8C8C;
}

.house-entry {
  border: 1px solid #efefef;
}

.house-image .location {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  padding: 4px 14px 4px 8px;
  border-radius: 15px;
  top: 8px;
  left: 8px;
}

.house-image .location img {
  width: 20px;
}

.house-image .location span {
  font-size: 14px;
  color: #000000;
}

.location span {
  font-size: 20px;
}

.categories-button {
  height: 55px;
  border: 2px solid #53A0B1;
  border-radius: 30px;
  color: #53A0B1;
  display: inline-block;
  text-decoration: none;
  line-height: 55px;
  font-size: 20px;
}

.apartments-img {
  height: 400px;
  width: 100%;
  border-radius: 30px;
}

.house-image {
  background: #53A0B1;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 2px 9px 27px -2px rgba(0, 0, 0, 0.04);
  color: #FFFFFF;
  text-align: center;
  position: relative;
}

.house-one {
  height: 200px;
  box-shadow: 2px 9px 27px -2px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin-bottom: 15px;
  width: 100%;
}

.price {
  display: flex;
}

.price h5 {
  margin-bottom: 0;
  font-size: 18px;
}

.more {
  display: flex;
  gap: 10px;
}

.letsearch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.plus-font-size {
  font-size: 18px;
}

.wid-100 {
  width: 100%;
}

#backbtn {
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

#backbtn img {
  width: 24px;
}

.updatelinks {
  display: flex;
  gap: 10px;
}

.more span {
  background: #f7f7f7;
  border-radius: 15px;
  padding: 4px 14px;
  font-size: 14px;
  color: #8F8C8C;
}

#seeDetails {
  color: #53A0B1;
  font-size: 16px;
  border: 1px solid #ddd;
}

.summary {
  border-radius: 35px;
}

.display-img-container {
  height: 425px;
  width: 100%;
}

.display-img-container img {
  height: 425px;
  width: 100%;
  border-radius: 30px;
}

#img1 img {
  border-radius: 30px 0 0 30px;
}

.display-img-container-2 {
  height: 200px;
  width: 100%;
}

.display-img-container-2 img {
  height: 200px;
  width: 100%;
  border-radius: 30px;
}

#img2 img,
#img4 img {
  border-radius: 0;
}

#img3 img {
  border-radius: 0 30px 0 0;
}

#img5 img {
  border-radius: 0 0 30px 0;
}

.entry-search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry-search a {
  background: #FFFFFF;
  text-decoration: none;
  color: #53A0B1;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  border-radius: 30px;
}

.more-img-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #000000;
  text-decoration: none;
  padding: 30px 50px;
  border-radius: 30px 0 30px 0;
  font-size: 22px;
}

.details-amenities {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.other-amenities {
  display: flex;
  gap: 30px;
}

.details-amenities span {
  background: #f7f7f7;
  border-radius: 17px;
  padding: 8px 20px;
  font-size: 14px;
  color: #8F8C8C;
}

@media screen and (max-width: 1400px) {
  .contact-content {
    flex-direction: column;
  }

  #detail-price {
    font-size: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .price h4 {
    font-size: 20px;
  }

  .amnenity {
    flex-direction: column;
  }

  .inline-contact {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .house-entry,
  .contact,
  .categories-button,
  .why {
    margin-bottom: 30px;
  }

  .apartments-img,
  .houses-img,
  .commercial-img {
    height: 350px;
  }

  .footer-content {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 55px;
  }

  .display-img-container,
  .display-img-container img {
    height: 350px;
  }

  .other-amenities {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .letsearch {
    flex-direction: column;
  }
  
}